<form ng-submit="updateEmployee()" id="editPageForm" class="needs-validation">
    <h2>Mitarbeiter {{currentEmployee.forename}} {{currentEmployee.surname}} bearbeiten</h2>
    <div class="form-row">
        <div class="form-group col">
            <label for="forename">Vorname</label>
            <input type="text" class="form-control" id="forename"  ng-model="currentEmployee.forename"
                required>
        </div>
        <div class="form-group col">
            <label for="surname">Nachname</label>
            <input type="text" class="form-control" id="surname"  ng-model="currentEmployee.surname"
                required>

        </div>
        <div class="form-group col">
            <label for="dateOfBirth">Geburtsdatum</label>
            <input type="date" class="form-control" id="dateOfBirth" 
                ng-model="currentEmployee.dateOfBirth" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="svn">Sozialversicherungsnummer</label>
            <input type="number" class="form-control" id="svn" ng-model="currentEmployee.svn"
                required>
        </div>
        <div class="form-group col">
            <label for="phonenumber">Telefonnummer</label>
            <input type="text" class="form-control" id="phonenumber" 
                ng-model="currentEmployee.phonenumber" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addressLine1">Straße und Hausnummer</label>
        <input type="text" class="form-control" id="addressLine1" 
            ng-model="currentEmployee.addressLine1" required>
    </div>

    <div class="form-group">
        <label for="addressLine2">Adresszusatz</label>
        <input type="text" class="form-control" id="addressLine2" 
            ng-model="currentEmployee.addressLine2" >
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="postCode">Postleitzahl</label>
            <input type="number" class="form-control" id="postCode"  ng-model="currentEmployee.postCode"
                required>
        </div>

        <div class="form-group col">
            <label for="city">Stadt</label>
            <input type="text" class="form-control" id="city" ng-model="currentEmployee.city"
                required>
        </div>
    </div>

    <div class="form-group">
        <label for="country">Land</label>
        <input type="text" class="form-control" id="country"  ng-model="currentEmployee.country"
            required>
    </div>

    <div class="form-group">
        <label for="email">Email-Adresse</label>
        <input type="email" class="form-control" id="email"  name="forename"
            ng-model="currentEmployee.email" required>
        <small id="emailHelpBlock" class="form-text text-muted">
            Die Email MUSS eine GMAIL-Adresse sein.
        </small>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="bankAccountNumber">IBAN</label>
            <input type="text" class="form-control" id="bankAccountNumber" placeholder="AT0664651315"
                ng-model="currentEmployee.bankAccountNumber" required>
        </div>
        <div class="form-group col">
            <label for="uid">UID</label>
            <input type="text" class="form-control" id="uid" placeholder="4564521" ng-model="currentEmployee.uid">
        </div>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">Alles Korrekt?</label>
    </div>

    <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    <button type="button" ng-click ="cancelView()" class="btn btn-primary">Cancel</button>

    
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>