<div>
    <h1>Mitarbeiter anlegen</h1>
    <p>Forename: <input type="text" name="forename" ng-model="newEmployee.forename" required /></p>
    <p>Surname: <input type="text" name="surname" ng-model="newEmployee.surname" required /></p>
    <p>DateOfBirth: <input type="text" name="dateOfBirth" ng-model="newEmployee.dateOfBirth" required /></p>
    <p>Svn: <input type="text" name="svn" ng-model="newEmployee.svn" required /></p>
    <p>bankAccountNumber: <input type="bankAccountNumber" name="password" ng-model="newEmployee.bankAccountNumber"
            required /></p>
    <p>E-Mail: <input type="text" name="email" ng-model="newEmployee.email" required /></p>
    <p>Phonenumber: <input type="text" name="phonenumber" ng-model="newEmployee.phonenumber" required /></p>

    <button ng-click="createEmployee()">Register Employee</button>
</div>