<h2>Mitarbeiter: {{currentEmployee.forename}} {{currentEmployee.surname}}</h2>
<div class="form-row">
    <div class="form-group col">
        <label for="forename">Vorname:</label>
        <label type="text" id="forename">{{currentEmployee.forename}}</label>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="surname">Nachname:</label>
        <label type="text" id="surname">{{currentEmployee.surname}}</label>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="dateOfBirth">Geburtsdatum:</label>
        <label type="text" id="dateOfBirth">{{currentEmployee.dateofbirth | date :  "dd.MM.yyyy" }}</label>
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="svn">Sozialversicherungsnummer:</label>
        <label type="text" id="svn">{{currentEmployee.svn}}</label>
    </div>

</div>
<div class="form-row">
    <div class="form-group col">
        <label for="phonenumber">Telefonnummer:</label>
        <label type="text" id="phonenumber">{{currentEmployee.phonenumber}}</label>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="addressLine1">Straße und Hausnummer:</label>
        <label type="text" id="addressLine1">{{currentEmployee.addressline1}}</label>

    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="addressLine2">Adresszusatz:</label>
        <label type="text" id="addressLine2">{{currentEmployee.addressline2}}</label>
    </div>

</div>

<div class="form-row">
    <div class="form-group col">
        <label for="postCode">Postleitzahl:</label>
        <label type="text" id="postCode">{{currentEmployee.postcode}}</label>
    </div>

</div>
<div class="form-row">
    <div class="form-group col">
        <label for="city">Stadt:</label>
        <label type="text" id="city">{{currentEmployee.city}}</label>

    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="country">Land:</label>
        <label type="text" id="country">{{currentEmployee.country}}</label>

    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="email">Email-Adresse:</label>
        <label type="text" id="email">{{currentEmployee.email}}</label>
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="bankAccountNumber">IBAN:</label>
        <label type="text" id="bankAccountNumber">{{currentEmployee.bankaccountnumber}}</label>
    </div>

</div>
<div class="form-row">
    <div class="form-group col">
        <label for="uid">UID:</label>
        <label type="text" id="uid">{{currentEmployee.uid}}</label>

    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="listFiles">Dateien des Mitarbeiters:</label>
        <ul class="list-group" id="listFiles">
            <li class="list-group-item list-group-item-action" ng-repeat="file in currentEmployee.files"
                value="{{file.id_File}}">
                {{file.filename}} <div class=" float-right">
                    <button type="button" title="Datei herunterladen" class="btn btn-primary btn-sm"
                        ng-click="downloadFile(file)"><i class="fas fa-download"></i></button>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>
<button type="button" ng-click="editEmployee(currentEmployee)" class="btn btn-primary">Mitarbeiter bearbeiten</button>
<button type="button" ng-click="cancelView()" class="btn btn-primary">Cancel</button>

<script>
  
</script>