<form ng-submit="createEmployee()" id="registerPageForm" class="needs-validation">
    <h2>Mitarbeiter anlegen</h2>
    <div class="form-row">
        <div class="form-group col">
            <label for="forename">Vorname</label>
            <input type="text" class="form-control" id="forename" placeholder="Max" ng-model="newEmployee.forename"
                required>
        </div>
        <div class="form-group col">
            <label for="surname">Nachname</label>
            <input type="text" class="form-control" id="surname" placeholder="Musterman" ng-model="newEmployee.surname"
                required>

        </div>
        <div class="form-group col">
            <label for="dateOfBirth">Geburtsdatum</label>
            <input type="date" class="form-control" id="dateOfBirth" placeholder="19.09.1999"
                ng-model="newEmployee.dateOfBirth" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="svn">Sozialversicherungsnummer</label>
            <input type="number" class="form-control" id="svn" placeholder="54879190999" ng-model="newEmployee.svn"
                required>
        </div>
        <div class="form-group col">
            <label for="phonenumber">Telefonnummer</label>
            <input type="text" class="form-control" id="phonenumber" placeholder="0660 5097233"
                ng-model="newEmployee.phonenumber" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addressLine1">Straße und Hausnummer</label>
        <input type="text" class="form-control" id="addressLine1" placeholder="Kirchbach 99"
            ng-model="newEmployee.addressLine1" required>
    </div>

    <div class="form-group">
        <label for="addressLine2">Adresszusatz</label>
        <input type="text" class="form-control" id="addressLine2" placeholder="2 Stockwerk"
            ng-model="newEmployee.addressLine2">
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="postCode">Postleitzahl</label>
            <input type="number" class="form-control" id="postCode" placeholder="9632" ng-model="newEmployee.postCode"
                required>
        </div>

        <div class="form-group col">
            <label for="city">Stadt</label>
            <input type="text" class="form-control" id="city" placeholder="Kirchbach" ng-model="newEmployee.city"
                required>
        </div>
    </div>

    <div class="form-group">
        <label for="country">Land</label>
        <input type="text" class="form-control" id="country" placeholder="Österreich" ng-model="newEmployee.country"
            required>
    </div>

    <div class="form-group">
        <label for="email">Email-Adresse</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="forename"
            ng-model="newEmployee.email" required>
        <small id="emailHelpBlock" class="form-text text-muted">
            Die Email MUSS eine GMAIL-Adresse sein.
        </small>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="bankAccountNumber">IBAN</label>
            <input type="text" class="form-control" id="bankAccountNumber" placeholder="AT0664651315"
                ng-model="newEmployee.bankAccountNumber" required>
        </div>
        <div class="form-group col">
            <label for="uid">UID</label>
            <input type="number" class="form-control" id="uid" placeholder="4564521" ng-model="newEmployee.uid">
        </div>
    </div>

    <div class="form-group">
        <div class="custom-file">
            <input type="file" ng-file-model="newEmployee.files" class="custom-file-input" id="fileInput" multiple>
            <label class="custom-file-label" for="fileInput">Hier Dateien des Mitarbeiters hochladen</label>
        </div>

        <ul class="list-group" id="listFiles">
            <li class="list-group-item list-group-item-action list-group-item-light"
                ng-repeat="file in newEmployee.files" value="{{newEmployee.name}}">
                {{file.name}}</li>
        </ul>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">Alles Korrekt?</label>
    </div>


    <button type="submit" class="btn btn-primary">Mitarbeiter anlegen</button>

</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>