<form ng-submit="createTimeEntry()" id="createTimeEntryForm" class="needs-validation">

    
        <h2>Arbeitszeiten vom {{newWorkDay.workingDate | date:'dd.MM.yyyy'}}</h2>

        <div class="form-row">
            <label>Vormittag</label>
            <label>&nbsp;&nbsp;Von:</label>
            <div uib-timepicker ng-model="newWorkDay.workingHours.forenoon.startTime" ng-change="changed()" hour-step="1" minute-step="1"
                show-meridian="false"></div>
        
        <label>Bis:</label>
        <div uib-timepicker ng-model="newWorkDay.workingHours.forenoon.endTime" ng-change="changed()" hour-step="1"
            minute-step="1" show-meridian="false"></div>
        </div>
    <label>Info:</label>
    <input type="text" class="input-group" id="txtForenoon" placeholder="Tätigkeit Vormittag"
        ng-model="newWorkDay.workingHours.forenoon.info" required>

        <hr>
    <div class="form-row">
        <label>Nachmittag </label>
        <label>&nbsp;&nbsp;Von:</label>
        <div uib-timepicker ng-model="newWorkDay.workingHours.afternoon.startTime" ng-change="changed()" hour-step="1"
            minute-step="1" show-meridian="false"></div>
        <label>Bis:</label>
        <div uib-timepicker ng-model="newWorkDay.workingHours.afternoon.endTime" ng-change="changed()" hour-step="1"
            minute-step="1" show-meridian="false"></div>
    </div>
    <label>Info:</label>
    <input type="text" class="input-group" id="txtAfternoon" placeholder="Tätigkeit Nachmittag"
        ng-model="newWorkDay.workingHours.afternoon.info" required>


    <pre
        class="alert alert-info">Time is: {{newWorkDay.workingHours.forenoon.startTime| date:'shortTime' }} to {{newWorkDay.workingHours.forenoon.endTime | date:'shortTime' }} and {{newWorkDay.workingHours.afternoon.startTime | date:'shortTime' }} to {{newWorkDay.workingHours.afternoon.endTime | date:'shortTime' }}  </pre>

    <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>
    <button type="submit" class="btn btn-primary">Zeit eintragen</button>

</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>