<div class="md-form">

    <div ng-controller="enterWorkdayController">
        <h2>Arbeitszeiten vom {{mytime | date:'dd.MM.yyyy'}}</h2>
        <div class="alert alert-info">
        <div class="form-row">
            <label>Von:</label>
            <div uib-timepicker ng-model="mytimeFromF" ng-change="changed()" hour-step="1" minute-step="1"
                show-meridian="false"></div>
            <label>Bis:</label>
            <div uib-timepicker ng-model="mytimeToF" ng-change="changed()" hour-step="1" minute-step="1"
                show-meridian="false"></div>
        </div>
        <label>Info:</label>
        <input type="text" class="input-group" id="forename" placeholder="Max" ng-model="newEmployee.forename"
                required>
        </div>
        
        <div class="form-row">
            <label>Von:</label>
            <div uib-timepicker ng-model="mytimeFromA" ng-change="changed()" hour-step="1" minute-step="1"
                show-meridian="false"></div>
            <label>Bis:</label>
            <div uib-timepicker ng-model="mytimeToA" ng-change="changed()" hour-step="1" minute-step="1"
                show-meridian="false"></div>

        </div>
        <pre class="alert alert-info">Time is: {{mytimeFromF | date:'shortTime' }} to {{mytimeToF | date:'shortTime' }} and {{mytimeFromA | date:'shortTime' }} to {{mytimeToA | date:'shortTime' }}  </pre>

  
        <button type="button" class="btn btn-default" ng-click="update()">Set to 14:00</button>
        <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>

    </div>
</div>
