<div class="table-responsive-md " id="employeetablediv">
    <h2>Mitarbeiterverwaltung</h2>
    <table class="table table-hover table-bordered table-striped" id="employeetable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Anstellung</th>
                <th scope="col">Telefonnummer</th>
                <th scope="col">Arbeitsort</th>
                <th scope="col">Aktionen</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" ng-repeat="myEmployee in allEmployees">
                <td>{{myEmployee.id_employee}}</td>
                <td>{{myEmployee.forename}}</td>
                <td>{{myEmployee.surname}}</td>
                <td>Mitarbeiter</td>
                <td>{{myEmployee.phonenumber}}</td>
                <td>{{myEmployee.city}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="showEmployee(myEmployee)"  title="Informationen anzeigen"><i class="fa fa-eye"></i></button>
                    <button type="button" class="btn btn-success" ng-click="" title="Mitarbeiter bearbeiten"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-danger" ng-click="deleteEmployee(myEmployee)" title="Mitarbeiter löschen"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>