<div class="table-responsive-md " id="workdaytablediv" ng-init="getWorkdays()">
    <h2>Arbeitstage</h2>

    <table id="WorkdayTable" class="table table-hover table-bordered table-striped" id="workdaytable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <button type="button" class="openLastWeek" data-dismiss="modal" aria-label="Close"
                        ng-click="shiftWeek(false,currentWeekDate)">
                        <span aria-hidden="true" class="fas fa-angle-left"></span>
                    </button>
                </th>
                <th scope="col"></th>
                <th scope="col" colspan="2">Vormittag</th>
                <th scope="col"></th>
                <th scope="col" colspan="2">Nachmittag</th>
                <th scope="col"></th>
                <th scope="col">
                    <button type="button" class="openNextWeek" data-dismiss="modal" aria-label="Close"
                        ng-click="shiftWeek(true,currentWeekDate)">
                        <span aria-hidden="true" class="fas fa-angle-right"></span>
                    </button>
                </th>
            </tr>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Tag</th>
                <th scope="col">Von</th>
                <th scope="col">Bis</th>
                <th scope="col">Info</th>
                <th scope="col">Von</th>
                <th scope="col">Bis</th>
                <th scope="col">Info</th>
                <th scope="col">Bearbeiten</th>
            </tr>
        </thead>
        <tbody id="searchableWorkdays">
            <tr scope="row" ng-repeat="myWorkday in allWorkdays"
                ng-class="{holidaycolor: myWorkday.isHoliday == true,sickcolor: myWorkday.isSickDay==true}">
                <td bgcolor="#b8cbf9">{{myWorkday.workingDate | date: 'dd.MM.yyyy'}}</td>
                <td>{{myWorkday.workingDate | date: 'EEEE'}}</td>
                <td>{{myWorkday.workingHours.forenoon.startTime | date: 'HH:mm'}}</td>
                <td>{{myWorkday.workingHours.forenoon.endTime| date: 'HH:mm'}}</td>
                <td>{{myWorkday.workingHours.forenoon.info}}</td>
                <td>{{myWorkday.workingHours.afternoon.startTime| date: 'HH:mm'}}</td>
                <td>{{myWorkday.workingHours.afternoon.endTime| date: 'HH:mm'}}</td>
                <td>{{myWorkday.workingHours.afternoon.info}}</td>
                <td>
                    <button type="button" class="btn btn-info" ng-click="editWorkday(myWorkday)"
                        title="Arbeitstag bearbeiten"><i class="fa fa-edit"></i></button>

                    <button type="button" class="btn btn-success" ng-click="setHoliday(myWorkday)"
                        title="Urlaubstag setzen"><i class="fab fa-accessible-icon"></i></button>

                    <button type="button" class="btn btn-danger" ng-click="setSickDay(myWorkday)" title="Krankheitstag setzen"><i class="fas fa-bed"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>