#registerPageForm{

    margin-left: 1%;
    margin-right: 1%;
}
#employeetablediv{
    margin-left: 1%;
    margin-right: 1%;
}
body {
  font-family: "Lato", sans-serif;
}
.green{
  background-color:green;
  }

.holidaycolor {
    background-color: rgb(59, 143, 59);
}
.sickcolor{
  background-color: rgb(233, 65, 23);
}